* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: rgba(30, 25, 35, 1);
}

.app_pages {
    padding: 20px 30px;
    background: #fff;
    width: 60%;
    height: 80%;
    margin: 20px auto;
    border-radius: 5px;
}